
//
// VARIABLES
//

// Imports
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

// Blues
$berkeley: #003364; // darkest blue for contrast
$indigoDye: #00417A; // main background
$maya: #8cc9ff; // sky blue e.g., logo
$alice: #f7fbff; // off-white
$columbia: #d1e8ff; // shade of alice
$oxford: #0B1A3C; // another dark blue

// Green
$lightGreen: #8cffab;

// Tan
$jasmine: #ffe48a;

// White
$white: #fff;

// Font stacks
$inter: 'Inter', Helvetica, Arial, sans-serif;
$inter-tight: 'Inter Tight', 'Inter', Helvetica, Arial, sans-serif;
$freeman: 'Freeman', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 991px) {
    @content;
  }
}
