---
layout: default
---

<div class='section section-banner'>
  <div class='container'>
    <div class='row justify-col-center gx-5 align-items-center'>
      <div class='col-lg-5 col-md-12 text-center'>
        <img class='img-fluid mx-auto d-block' src='https://placehold.co/800x600?text=Temp&font=roboto' alt='placeholder image'>
      </div>
      <div class='col-lg-7 col-md-12'>
        <div class=''>
          <h1 class='hello'>{{ site.data[page.lang].banner.title }}</h1>
        </div>
        <div>
          <p>{{ site.data[page.lang].banner.pitch }}</p>
        </div>
        <div class='btn-container'>
          <a class='btn btn-primary btn-lg' href='#contact' role='button'>{{ site.data[page.lang].banner.button-label }} &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='section section-whatwedo' id='what-we-do'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h2 class='text-center'>{{ site.data[page.lang].what-we-do.title }}</h2>
      </div>
    </div>
    <div class='row justify-content-md-center'>
      <div class='col-lg-7 col-md-12'>
        {{ site.data[page.lang].what-we-do.blurb }}
      </div>
    </div>
    <div class='row'>
      <h3 class='text-center'>{{ site.data[page.lang].what-we-do.subtitle }}</h3>
    </div>
    <div class='row gx-5'>
      <div class='col-md-4 col-sm-12 text-center'>
        <img class='img-fluid' src='https://placehold.co/240x180?text=Temp&font=roboto' alt='placeholder image'>
        <h4>{{ site.data[page.lang].what-we-do.method-1-title }}</h4>
        <p class='method-desc'>{{ site.data[page.lang].what-we-do.method-1-desc }}</p>
      </div>
      <div class='col-md-4 col-sm-12 text-center'>
        <img class='img-fluid' src='https://placehold.co/240x180?text=Temp&font=roboto' alt='placeholder image'>
        <h4>{{ site.data[page.lang].what-we-do.method-2-title }}</h4>
        <p class='method-desc'>{{ site.data[page.lang].what-we-do.method-2-desc }}</p>
      </div>
      <div class='col-md-4 col-sm-12 text-center'>
        <img class='img-fluid' src='https://placehold.co/240x180?text=Temp&font=roboto' alt='placeholder image'>
        <h4>{{ site.data[page.lang].what-we-do.method-3-title }}</h4>
        <p class='method-desc'>{{ site.data[page.lang].what-we-do.method-3-desc }}</p>
      </div>
    </div>
  </div>
</div>

<div class='section section-about' id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h2 class='text-center'>{{ site.data[page.lang].about.title }}</h2>
      </div>
    </div>
    <div class='row gx-5 align-items-center'>
      <div class='col-lg-6 col-md-12'>
        <p>{{ site.data[page.lang].about.blurb }}</p>
        <ul>
          {{ site.data[page.lang].about.list }}
        </ul>
      </div>
      <div class='col-lg-6 col-md-12'>
        <img class='img-fluid mx-auto d-block' src='https://placehold.co/400x400?text=Temp&font=roboto' alt='placeholder image'>
      </div>
    </div>
  </div>
</div>

<div class='section section-contact' id='contact'>
  <div class='container'>
    <div class='row justify-content-md-center mt-5'>
      <div class='col'>
        <h3 class='text-center'>{{ site.data[page.lang].contact.message }}</h3>
      </div>
    </div>
    <div class='row justify-content-md-center mt-5'>
      <div class='col'>
        <div class='text-center'>
          <!-- <a class='btn btn-primary btn-lg' href='#' role='button'>Let's get started &rarr;</a> -->
          <h4><a href='mailto:hello@bigbrainresearch.com?subject=Hello'>hello@bigbrainresearch.com</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<button id='scroll-to-top-btn' class='scroll-to-top'><i class="fa-solid fa-up-long"></i></button>
